#masthead,
#masthead h1,
#masthead h1 a,
#masthead a img,
#masthead div div,
#toggle-nav,
#site-navigation,
#secondary,
#colophon,
#colophon div.site-info a,
#main #primary #content article.post > footer,
#main #primary #content article.post > footer *,
#main #primary #content nav.navigation-post,
#main #primary #content nav.navigation-post *,
#main #primary #content #nav-below,
#main #primary #content #comments,
#main #primary #content article.post > div.entry-content > div.wpcnt,
#main #primary #content article.post > div.entry-content > div.sharedaddy,
#main #primary #content article.post > div.entry-content > div#jp-post-flair,
#main #primary #content article.post > div.entry-content > div#jp-post-flair *,
footer.site-footer,
div.comments-area,
div.widget-area,
body > div.widget,
#actionbar,
div.sharedaddy
{ 
    display: none; 
}

div#page div#main div#primary.content-area {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: "URW Bookman L";
    font-weight: 300;
    line-height: 1.2;
    text-align: justify;
}
div#page div#main div#primary.content-area * {
    max-width: 100%;
    padding: 0;
    margin: 0;
    font-family: "URW Bookman L";
    font-weight: 300;
    line-height: 1.2;
    text-align: justify;
}

div#page div#main div#primary.content-area #content article.post.hentry p {
    margin-bottom: 0.5em;
    text-indent: 2em;
    text-align: justify;
}

div#page div#main div#primary.content-area #content article.post.hentry h1,
div#page div#main div#primary.content-area #content article.post.hentry h2,
div#page div#main div#primary.content-area #content article.post.hentry h3,
div#page div#main div#primary.content-area #content article.post.hentry h4,
div#page div#main div#primary.content-area #content article.post.hentry h5,
div#page div#main div#primary.content-area #content article.post.hentry h6 {
    font-family: "URW Gothic L";
    font-weight: "normal";
}
