<style>
p{
    font-family: "URW Bookman L";
    font-weight: "lighter";
    text-align:center;
}

h1{
    text-align:center;
    font-family: "URW Gothic L";
    font-weight: "normal";
}
</style>
    <br>
    <br>
    <h1>Graphical Linear Algebra</h1>
    <br/>
    <br/>
    <p>Pawel Sobocinski</p>
    
    